<div class="home-wrapper">
  <div class="home-content">
    <!-- Top section -->
    <div class="top-content">
      <h1>Welcome to tarkov collection log</h1>
      <input
        (input)="filterResults()"
        [(ngModel)]="itemSearchInput"
        type="text"
        name="item-search"
        id="search-item"
      />
    </div>

    <!-- Tarkov item cards -->
    <div class="barter-items">
      <div class="item-wrapper">
        @for (item of filteredItems; track $index) {
        <app-item-card [item]="item"></app-item-card>
        }
      </div>
      <div class="item-wrapper">
        @for (item of filteredItems; track $index) {
        <app-item-card [item]="item"></app-item-card>
        }
      </div>
      <div class="item-wrapper">
        @for (item of filteredItems; track $index) {
        <app-item-card [item]="item"></app-item-card>
        }
      </div>
    </div>
  </div>
</div>
